canvas {
    border: 1px solid #dcdcdc;
    cursor: crosshair;
}
body {
    width: 700px;
    margin: 0 auto;
}
.canvas_wrapper {
    float: left;
    margin-right: 10px;
}
.btn {
    display: block;
    width: 150px;
    height: 32px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin: 20px 0 10px;
    transition: background .3s;
    cursor: pointer;
}
.btn.blue {
    background: #ebf6ff;
}
.btn.blue:hover {
    background: #b4ddff;
}
.btn.pink {
    background: #f6daff
}
.btn.pink:hover {
    background: #efbfff;
}
.help-text {
    margin: 0;
    width: 150px;
    font-family: Arial;
    font-size: 12px;
    color: #9a9a9a;
}
.modal_wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 220px;
    height: 88px;
    border-radius: 5px;
    background: #ede0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 7px 7px 32px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 7px 7px 32px -5px rgba(0,0,0,0.35);
    box-shadow: 7px 7px 32px -5px rgba(0,0,0,0.35);
}
.modal_window p {
    font-family: monospace;
    font-size: 25px;
}
.modal_window #predicted {
    font-weight: 600;
}